.navbar{
  width: auto;
  padding: 10px 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 12px;
  margin: 0px 0px 0px 0px;
}
.logo_con{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo{
  height: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5px;
}
.logo_box{
  min-width: 8px;
  height: auto;
  border-radius: 0.1rem;
  background-color: var(--primary);
}
.logo_box:nth-child(1){
  grid-row: 1/ span 2;
}
.logo_name{
  width: max-content;
  font-size: 1.4rem;
  font-family: var(--font-one);
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--black);
}
.logo_name span{
  color: var(--primary);
}
.navlist_con{
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.side_bar_logo{
  display: none;
}

.nav_ul{
  border: none;
}
.nav_li{
  line-height: auto;
  display: inline-block;
  margin: 2px 5px;
  text-align: center;
  color: var(--light-black);
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  transition: color 0.2s ease-in-out, 
   background-color 0.2s ease-in-out;
}
.nav_li:hover{
  background-color: var(--dark-theme-white);
  transition: color 0.2s ease-in-out, 
  background-color 0.2s ease-in-out;
}
.nav_link{
  font-size: 0.9rem;
  font-family: var(--font-one);
  font-weight: 500;
  font-style: normal;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: capitalize;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.2s ease-in-out;
  color: var(--light-black);
}

.nav_link.active{
  color: var(--black);
  background-color: var(--dark-theme-white);
}

.nav_li:hover .nav_link{
  color: var(--black);
  transition: color 0.2s ease-in-out;
}
.nav_link span{
  font-size: 1rem;
  margin: 5px 0px 0px 0px;
  padding: 0;
  font-weight: 400;
}
.navlist_btnCon{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav_contact_link{
  background-color: var(--primary);
  display: flex;
  align-items: center;
  color: var( --color);
  border-radius: 5px;
  font-size: 0.9rem;
  text-decoration: none;
  font-family: var(--font-one);
  font-weight: 500;
  text-transform: capitalize;
  gap: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out,
              opacity 0.3s ease-in-out;
}
.nav_contact_link:hover{
  opacity: 0.8;
  transition: background-color 0.2s ease-in-out,
              opacity 0.2s ease-in-out;
}
.nav_contact_link span{
  margin-top: 3px;
}
.talk_icon{
  font-size: 1.2rem;
}
.hamburger{
  width: 25px;
  display: none;
}
.hamburger .bars{
  width: 100%;
  height: 3px;
  margin: 5px 0px;
  background-color: var( --primary);
}

@media screen and (max-width: 1200px ){
  .navbar{
    width: auto;
    border: none;
    padding: 12px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;

  }
  .logo_con{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .logo{
    height: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5px;
  }
  .logo_box{
    min-width: 8px;
    height: auto;
    border-radius: 0.1rem;
    background-color: var(--primary);
  }
  .logo_box:nth-child(1){
    grid-row: 1/ span 2;
  }
  .logo_name{
    width: max-content;
    font-size: 1.3rem;
    font-family: var(--font-one);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--black);
  }
  .logo_name span{
    color: var(--primary);
  }
  .navlist_con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3% 3%;
    gap: 1rem;
    position: absolute;
    top: 0%;
    left: 0;
    width: 30%;
    height: 100vh;
    background-color: var( --white);
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 2px var(--light-black);
    z-index: 999;
  }
  .navlist_con.active{
    transform: translateX(0%);
    transition: transform 0.2s ease-in-out;
  }
  .nav_ul{
    height: 80%;
    width: 100%;
  }
  .nav_li{
    line-height: auto;
    display: block;
    margin: 2px 5px;
    text-align: center;
    color: var(--light-black);
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 0px 15px 0px;
    transition: color 0.2s ease-in-out, 
     background-color 0.2s ease-in-out;
  }
  .nav_li:hover{
    background-color: var(--dark-theme-white);
    transition: color 0.2s ease-in-out, 
    background-color 0.2s ease-in-out;
  }
  .nav_link{
    font-size: 1rem;
    font-family: var(--font-one);
    font-weight: 500;
    font-style: normal;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.2s ease-in-out;
    color: var(--light-black);
  }
  .nav_link.active{
    color: var(--black);
    background-color: var(--dark-theme-white);
  }
  .nav_li:hover .nav_link{
    color: var(--black);
    transition: color 0.2s ease-in-out;
  }
  .nav_link span{
    font-size: 1rem;
    margin: 5px 0px 0px 0px;
    padding: 0;
    font-weight: 400;
  }
  .navlist_btnCon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 25%;
  }
  .toggle_component{
    width: 100%;
  }
  .nav_contact_link{
    width: 100%;
    text-align: center;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var( --color);
    border-radius: 5px;
    font-size: 0.9rem;
    text-decoration: none;
    font-family: var(--font-one);
    font-weight: 500;
    text-transform: capitalize;
    gap: 5px;
    padding: 8px 15px;
    transition: background-color 0.2s ease-in-out,
    opacity 0.3s ease-in-out;
    cursor: pointer;
  }
  .nav_contact_link:hover{
    opacity: 0.8;
    transition: background-color 0.2s ease-in-out,
    opacity 0.3s ease-in-out;
  }
  .nav_contact_link span{
    margin-top: 3px;
  }
  .talk_icon{
    font-size: 1.2rem;
  }
  .hamburger{
    width: 25px;
    display: block;
    transition: transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  }
  .hamburger .bars{
    width: 100%;
    height: 4px;
    margin: 4px 0px;
    background-color:var( --primary);;
    transition: transform 0.2s ease-in-out,
     opacity 0.2s ease-in-out;
  }
  .hamburger.active .bars:nth-child(1){
    transform: translateY(7.5px) rotate(45deg);
    transition: transform 0.2s ease-in-out;
  }
  .hamburger.active .bars:nth-child(2){
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  .hamburger.active .bars:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    transition: transform 0.2s ease-in-out;
  }
  
}
@media screen and (max-width: 780px){
  .navlist_con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3% 3%;
    gap: 1rem;
    position: absolute;
    top: 0%;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var( --white);
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 2px var(--light-black);
  }
}