.about{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.AboutSideComponentCon{
  width: 32%;
  height: auto;
  position: static;
  background-color: var(--white);
  padding: 20px;
  border-radius: 12px;
}
.AboutWrapperCon{
  width: 68%;
  height: auto;
  padding: 30px;
  background-color: var(--white);
  border-radius: 12px;
}
.aboutHeadCon{
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 15%;
}
.AboutHeadTextCon{
  width: auto;
  margin: 0px 0px 20px 0px;
}
.AboutHeadTextCon h1{
  font-size: 2rem;
  font-family: var(--font-one);
  text-transform: capitalize;
  font-weight: 600;
  word-spacing: 1px;
  color: var(--black);
  margin: 0px 0px 10px 0px;
}
.AboutHeadTextCon h1 span{
  color: var(--primary);
}
.AboutHeadTextCon p{
  width: 90%;
  font-size: 1.2rem;
  font-family: var(--font-one);
  color: var(--para-color);
  font-family: 600;
  word-spacing: 1.4px;
  line-height: 1.6;
  margin: 0px 0px 0px 0px;
}
.AboutHeadTextCon p span{
  color: var(--black);
}

.aboutNotify{
  flex-shrink: 0;
  font-size: 0.8rem;
  background-color: var(--dark-theme-white);
  padding: 10px 15px;
  display: flex;
  align-items:  center;
  gap: 10px;
  font-family: var(--font-one);
  font-weight: 500;
  color: var(--primary);
  word-spacing: 1px;
  text-transform: capitalize;
  border-radius: 5px;
}
.pluse{ 
  width: 7px;
  height: 7px;
  position: relative;
  border-radius: 50%;
  background-color: var(--primary);
}
.pluse span{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation:  bubble 2s ease-out infinite;
  background-color: inherit;
  border-radius: inherit;
  opacity: 0.8;
  transition: transform 10s ease-in-out;
}
@keyframes bubble{
  100%{
    opacity: 0;
    transform: scale(2);
    transition: transform 10s ease-in-out;
  }
}

.aboutNumbCon{
  width: 60%;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
}
.aboutNumbItem{
  flex-shrink: 0;
  min-width: calc(100%/3);
}
.aboutNumbCon h1{
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-one);
  color: var(--black);
  margin: 0px 0px 5px 0px;
}
.aboutNumbCon p{
  font-size: 0.9rem;
  color: var(--light-black);
  font-weight: 500;
  font-family: var(--font-one);
  text-transform: capitalize;
}

.AboutSkillsComponent{
  margin: 0px 0px 20px 0px ;
}
.AboutTestifyComponent{
  margin: 0px 0px 20px 0px ;
}

.AboutBlogComponent{
  margin: 0px 0px 20px 0px ;
}

@media (max-width: 1200px) {
  .about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
  }
  .AboutSideComponentCon {
    width: 100%;
    padding: 15px;
  }

  .AboutWrapperCon {
    width: 100%;
    padding: 20px;
  }

  .AboutHeadTextCon h1 {
    font-size: 1.8rem;
  }

  .AboutHeadTextCon p {
    font-size: 1.1rem;
  }

  .aboutNumbCon {
    width: 80%;
  }

  .aboutHeadCon{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px 20px;
  }
}

@media (max-width: 780px) {
  .about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
  }
  .AboutSideComponentCon {
    width: 100%;
    padding: 15px;
  }

  .AboutWrapperCon {
    width: 100%;
    padding: 20px;
  }

  .AboutHeadTextCon h1 {
    font-size: 1.8rem;
  }

  .AboutHeadTextCon p {
    font-size: 1.1rem;
    width: 100%;
  }

  .aboutNumbCon{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
  }
  .aboutNumbCon h1{
    font-size: 2rem;
    font-weight: 600;
  }
  .aboutNumbCon p{
    font-size: 0.9rem;
    color: var(--light-black);
    font-weight: 500;
    font-family: var(--font-one);
    text-transform: capitalize;
  }

  .aboutHeadCon{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px 20px;
  }
}
