.app{
  width: 100%;
  height: 100dvh;
  padding: 1% 5%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1% 5% 0% 5%;
  background-color: var(--background);
  z-index: 1000; /* Ensures the navbar stays on top of other content */
}
main{
  padding-top: 90px;
  width: 100%;
  height: 85vh;
}
.no_scrolling {
  overflow: hidden;
}
.director{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px 0px 10px 0px;
}
.director p,.director a{
  font-size: 1rem;
  color: var(--black);
  font-family: var(--font-one);
  text-transform: capitalize;
}
.director p{
  color: var(--primary);
  cursor: pointer;
}

.director a:hover{
  opacity: 0.5;
}

@media (max-width: 1200px){
  .app{
    width: 100%;
    height: 100vh;
    padding: 2% 10%;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 5% 0% 5%;
    background-color: var(--background);
    z-index: 1000; 
  }
  main{
    padding-top: 60px;
    width: 100%;
    height: 85vh;
  }
}
@media (max-width: 780px){
  .app{
    width: 100%;
    height: 100vh;
    padding: 2% 5%;
  }

}